{% extends "layout-base.html" %}

{% block head_title %}HTML-TO-DJANGO{% endblock %}

{% block page_title %}{{course.tittle}} {% endblock %}

{% block page_content %}
    <article id='{{ couse.id }}'>
        <h1>{{ course.tittle }}</h1>
        <p>{{ course.created_at }}</p>
        <p>{{ course.content }}</p>
        
        <button onClick="window.location.href='{{ course.call_link }}'">Contactar</button>
        <p><a href="{% url 'courses:course_list' %}">Volver a la lista de cursos.</a></p>
    </article>

{% endblock %}
