{% extends "layout-base.html" %}

{% block head_title %}HTML-TO-DJANGO{% endblock %}

{% block page_title %}{% endblock %}

{% block page_content %}

{% load static %}
<main>

    <section>
      <h1>¡Bienvenidos a nuestra academia online!</h1>
      <p>Estamos encantados de tenerte con nosotros. Aquí encontrarás una comunidad dedicada al aprendizaje y
        crecimiento, con cursos diseñados para potenciar tus habilidades y conocimientos. Prepárate para una experiencia
        educativa interactiva y enriquecedora.</p>
      <p> <strong>¡Empecemos juntos este emocionante viaje de aprendizaje!</strong> </p>

      <figure>
        <figcaption> Academia online de programación </figcaption>
        <img src={% static "img/Home/portada.png"%} alt="Academia online de programación" width="500">
      </figure>
    </section>

    <section>
      <h2> <u>¡Descubre quienes somos!</u></h2>
      <p>Somos una academia online de <strong>programación</strong>, apasionada por transformar tu potencial en
        habilidades reales. Nuestro objetivo es brindarte las herramientas y el conocimiento necesarios para que te
        conviertas en un <strong>desarrollador exitoso</strong>. Únete a nosotros y da el primer paso hacia tu futuro en
        el mundo de la tecnología.
      <p><a href="{% url 'core:about_us' %}"> Conoce tu academia online. </a>
      </p>
      </p>
    </section>

    <hr />

    <section>
      <h2> Últimos cursos</h2>
      <p> Descrube los ultimos cursos que podrás encontrar en nuestra plataforma.</p>

      <article>
        <h3><u>Cursos de Desarrollado FullStack</u></h3>
        <p>Domina el desarrollo web de principio a fin con nuestro curso <strong>FullStack</strong>. Aprende a crear
          aplicaciones completas desde el diseño del frontend hasta la gestión del backend. Conoce las tecnologías más
          demandadas como HTML, CSS, JavaScript, Node.js, Express, y bases de datos como MongoDB. Este curso te brindará
          las habilidades necesarias para convertirte en un desarrollador web versátil y altamente demandado.</p>
        <p><a href="cursos_html/curso-fullstack.html">Ver curso</a></p>
      </article>

      <article>
        <h3><u>Cursos de Desarrollado en Inteligencia Artificial</u></h3>
        <p>Adéntrate en el fascinante mundo de la <strong>Inteligencia Artificial</strong> con nuestro curso
          especializado. Aprende los fundamentos del machine learning, redes neuronales, procesamiento de lenguaje
          natural y visión por computadora. Utiliza herramientas y bibliotecas populares como Python, TensorFlow y
          PyTorch. Este curso te prepara para desarrollar soluciones innovadoras y enfrentar los desafíos del futuro
          tecnológico.</p>
        <p><a href="cursos_html/curso-ia.html">Ver curso</a></p>
      </article>

      <p>Si quieres ver todos nuestros cursos, haz click <a href="in_cursos.html">aquí</a></p>
    </section>

    <hr />
    <section>
      <h2> Últimos noticias</h2>
      <p> Descrube las últimas noticias de nuestro blog.</p>

      <article>
        <h3><u>Últimas Tendencias en Desarrollo Fullstack</u></h3>
        <p>Mantente al día con las últimas tendencias en desarrollo <strong>FullStack</strong>. En esta publicación,
          exploramos las tecnologías emergentes y las mejores prácticas que están revolucionando la industria. Descubre
          cómo frameworks modernos, nuevas herramientas de desarrollo y técnicas avanzadas pueden mejorar tu flujo de
          trabajo y la calidad de tus proyectos web.</p>
        <p><a href="blog_html/noticia2.html">Ver noticia</a></p>
      </article>

      <article>
        <h3><u>Cursos de Desarrollado en Inteligencia Artificial</u></h3>
        <p>La <strong>Inteligencia Artificial</strong> está en constante evolución, y en nuestro blog te traemos las
          novedades más recientes. Desde innovaciones en machine learning hasta aplicaciones sorprendentes de redes
          neuronales, analizamos los avances que están cambiando el mundo. Aprende cómo estas tecnologías pueden ser
          aplicadas en diversos campos y qué futuro nos depara en el ámbito de la IA.</p>
        <p><a href="blog_html/noticia1.html">Ver noticia</a></p>
      </article>

      <p>Si quieres ver nuestro blog, haz click <a href="in_blog.html">aquí</a></p>
    </section>

  </main>

{% endblock %}

