{% extends "layout-base.html" %}

{% block head_title %}HTML-TO-DJANGO{% endblock %}

{% block page_title %}{% endblock %}

{% block page_content %}

{% load static %}
<main>
  <hr>
    <section>
      <h1>¡Bienvenidos a nuestra academia online!</h1>
      <p>Estamos encantados de tenerte con nosotros. Aquí encontrarás una comunidad dedicada al aprendizaje y
        crecimiento, con cursos diseñados para potenciar tus habilidades y conocimientos. Prepárate para una experiencia
        educativa interactiva y enriquecedora.</p>
      <p> <strong>¡Empecemos juntos este emocionante viaje de aprendizaje!</strong> </p>

      <figure>
        <figcaption> Academia online de programación </figcaption>
        <img src={% static "img/Home/portada.png"%} alt="Academia online de programación" width="500">
      </figure>
    </section>

    <section>
      <h2> <u>¡Descubre quienes somos!</u></h2>
      <p>Somos una academia online de <strong>programación</strong>, apasionada por transformar tu potencial en
        habilidades reales. Nuestro objetivo es brindarte las herramientas y el conocimiento necesarios para que te
        conviertas en un <strong>desarrollador exitoso</strong>. Únete a nosotros y da el primer paso hacia tu futuro en
        el mundo de la tecnología.
      <p><a href="{% url 'core:about_us' %}"> Conoce tu academia online. </a>
      </p>
      </p>
    </section>
    
    <hr>

    <h2>Últimos cursos</h2>
    {% for course in courses %}
      <article id='{{ course.id }}'>
          <h3>{{ course.tittle }}</h3>
          <p>{{ course.content|truncatechars:100 }}</p>
          <p><a href="{% url 'courses:course_detail' course.id %}">Leer más...</a></p>
      </article>    
    {% endfor %}

    <hr>

    <h2>Últimos noticias</h2>
    {% for post in posts %}
    <article id='{{ post.id }}'>
        <h3>{{post.title}}</h3>
        <p>{{post.created_at}}</p>
        <p>{{post.content|truncatechars:100}}</p>
        <p><a href="{% url 'blog:blog_detail' post.id %}">Leer más...</a></p>
    </article>
    {% endfor %}  

  </main>

{% endblock %}

