{% extends "layout-base.html" %}

{% block head_title %}HTML-TO-DJANGO{% endblock %}

{% block page_title %}Blog{% endblock %}

{% block page_content %}
    <h1>Últimas Noticias</h1>

    {% for post in posts %}
        <article id='{{ post.id }}'>
            <h2>{{post.title}}</h2>
            <p>{{post.created_at}}</p>
            <p>{{post.content|truncatechars:100}}</p>
            <p><a href="{% url 'blog:blog_detail' post.id %}">Leer más...</a></p>
        </article>
    {% endfor %}

{% endblock %}